body {
	font-family : Tahoma;
	background-color : black;
	color : white;
	text-align : center;
	font-size : 200%;
	margin :  5% 5% 0% 5%; 
}

#console{
	font-size : 2em;
}


#associate{
	width : 100%;
	clear : both;
	margin-top :  5%;
}

#left {
	float : left;
}

#right {
	float : right;
}

.color1 {
	color : #FFFF00;
}

.color2 {
	color : #00FF00;
}
